/* Custom font imports */

@font-face {
  font-family: "Gellix Medium";
  src: url("/font/Gellix-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #292727;
  font-family: "Gellix Medium", sans-serif;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blink {
  animation: blink 1.5s infinite;
}

/* gradient css */
/* Colors */
:root {
  --page-background-color: #2f3c4f;
  --gradient-color-1: #c53998;
  --gradient-color-2: #ccff00;
}

/* Keyframes */
@keyframes animationgradienttitle {
  0% {
    background-position: 0 1600px;
  }
  100% {
    background-position: 1600px 0;
  }
}

.gradient {
  font-size: 60px;
  background: -webkit-linear-gradient(
    left,
    var(--gradient-color-1),
    var(--gradient-color-2),
    var(--gradient-color-1)
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-duration: 25s;
  animation-name: animationgradienttitle;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

/* Hero */

@media (max-width: 767px) {
  .hero {
    height: 85vh;
    background-image: url("/hero-bg2.png");
    background-size: cover;
    border-radius: 25px;
    overflow: hidden;
  }
  .hero-details {
    bottom: 0;
  }
}

/* footer hover icons */

.hoverEffect:hover {
  color: #ddff55;
}

/* Text Rolling Animation */
.words {
  overflow: hidden;
  background-color: transparent;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.animated-text {
  display: block;
  animation: spin_words 5s infinite;
  margin-top: -5px;

  font-size: 60px;
  color: #ddff55;
  text-align: left;
  font-weight: 600;
  background-color: transparent;
}
.words-small {
  overflow: hidden;
  background-color: transparent;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.animated-text-small {
  display: block;
  animation: spin_words 5s infinite;
  text-align: center;
  margin-top: -5px;

  font-size: 40px;
  color: #ddff55;
  font-weight: 600;
  background-color: transparent;
}
.animated-text-2 {
  display: block;
  animation: spin_words 5s infinite;
  text-align: center;
  margin-top: -5px;

  font-size: 50px;
  font-weight: 600;
  background-color: transparent;

  @media (max-width: 600px) {
    font-size: 30px;
    margin-top: 0;
  }
}
@keyframes spin_words {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(-200%);
  }
}
